h1, h2, h3, h4, h5, h6, p {
  font-family: "Montserrat", sans-serif; }

ul a {
  font-family: "Montserrat", sans-serif;
  color: #fff;
  font-size: 2em;
  font-weight: bolder;
  letter-spacing: 2px; }

.scroll-down p {
  color: #FDE000;
  display: inline-block;
  font-size: 1.4rem; }

.home-text h1 {
  color: #FDE000;
  margin-bottom: 40px;
  width: 70.58824%;
  font-weight: 400;
  font-size: 46px;
  line-height: 46px;
  text-align: left; }
  @media (min-width: 750px) {
    .home-text h1 {
      font-size: 68px;
      line-height: 70px;
      width: 100%; } }
  @media (min-width: 970px) {
    .home-text h1 {
      font-size: 80px;
      line-height: 80px;
      width: 100%; } }
  .home-text h1 span {
    font-weight: 900;
    color: #fff; }

.name-container .maori-name .maori-name-container h1 {
  color: #fff;
  font-size: 80px;
  margin: 10px; }
.name-container p {
  width: 100%;
  text-align: center;
  margin: 0;
  color: #96C5FF;
  opacity: 0; }

.adult-penguin .adult-penguin-container h1 {
  text-align: center;
  opacity: 0;
  color: #fff;
  margin-bottom: 3rem; }
.adult-penguin .adult-penguin-container .penguin-bg h4 {
  margin: 0;
  color: #EAC574; }
.adult-penguin .adult-penguin-container .penguin-bg p {
  margin: 0;
  color: #fff;
  font-size: 0.8em; }
.adult-penguin .adult-penguin-container .penguin-bg .arrow-left-text p {
  display: block;
  float: left; }
.adult-penguin .adult-penguin-container .penguin-bg .feet .arrow-right-text h4 {
  text-align: right; }
.adult-penguin .adult-penguin-container .penguin-bg .feet .arrow-right-text p {
  text-align: left; }

.map .map-container .map-text-container h1 {
  color: #fff;
  font-weight: 400;
  text-align: center; }
  @media (min-width: 750px) {
    .map .map-container .map-text-container h1 {
      font-size: 32px;
      line-height: 46px; } }
.map .map-container .map-text-container h4 {
  color: #fff;
  font-size: 17px;
  font-weight: lighter;
  text-align: center; }
  @media (min-width: 750px) {
    .map .map-container .map-text-container h4 {
      font-size: 20px; } }

.visual-data h2 {
  color: #fff;
  font-size: 28px;
  line-height: 40px;
  text-align: center;
  margin-bottom: 3rem; }
  @media (min-width: 750px) {
    .visual-data h2 {
      font-size: 32px;
      line-height: 46px; } }
  .visual-data h2 span {
    color: #EDDA54; }
.visual-data .data-container #bars li span {
  color: #fff;
  position: absolute;
  bottom: -2em;
  left: 0;
  text-align: center;
  margin-left: 15px;
  width: 100%;
  font-size: 0.8rem; }
  @media (min-width: 750px) {
    .visual-data .data-container #bars li span {
      margin-left: 5px; } }

.pedator .question h2 {
  color: #fff;
  font-size: 28px;
  line-height: 40px;
  text-align: center;
  margin: 3rem 0; }
  @media (min-width: 750px) {
    .pedator .question h2 {
      font-size: 32px;
      line-height: 46px; } }
  .pedator .question h2 span {
    color: #EDDA54; }
.pedator .pedator-animals h1 {
  color: #E25F5F;
  text-align: center;
  transition: all .3s;
  margin-bottom: 3rem; }
.pedator .pedator-animals h2 {
  color: #fff;
  text-align: center;
  transition: all .3s; }

.fishing-net .plus h1 {
  color: #fff;
  text-align: center; }

.decline .decline-image h1 {
  color: #fff;
  text-align: center; }
.decline .home-trust h2 {
  color: #fff;
  text-align: center;
  margin-bottom: 3rem; }
  @media (min-width: 750px) {
    .decline .home-trust h2 {
      width: 50%;
      margin: 0 auto 3rem auto; } }
.decline .home-trust .to-work-btn p {
  color: #fff; }

.trust-home .trust-info .trust-texts h1 {
  color: #FCE659;
  font-family: "Montserrat", sans-serif;
  line-height: 1.2em;
  text-align: left; }
  @media (min-width: 750px) {
    .trust-home .trust-info .trust-texts h1 {
      text-align: left;
      font-size: 50px; } }
.trust-home .trust-info .trust-texts h4 {
  font-size: 30px;
  font-family: "Montserrat", sans-serif;
  color: #fff; }
  @media (min-width: 970px) {
    .trust-home .trust-info .trust-texts h4 {
      font-size: 24px; } }
.trust-home .trust-info .trust-texts p {
  line-height: 1.3em;
  font-size: 1.2em;
  font-family: "Montserrat", sans-serif;
  color: #fff; }

.work-info-texts h1, .work-info-texts h3 {
  text-align: center;
  color: #054686; }
.work-info-texts h3 {
  font-family: "Montserrat", sans-serif; }
.work-info-texts p {
  color: #5A97D5;
  text-align: center; }

.hids-info h3, .hids-info p {
  color: #969696; }
.hids-info h3 {
  text-align: center; }
.hids-info p {
  line-height: 1.2rem; }

.restoration-texts-container h1 {
  font-size: 30px; }
  @media (min-width: 970px) {
    .restoration-texts-container h1 {
      font-size: 50px; } }
.restoration-texts-container h4 {
  font-size: 24px;
  line-height: 0;
  font-family: "Montserrat", sans-serif;
  color: #145698; }
  @media (min-width: 970px) {
    .restoration-texts-container h4 {
      font-size: 24px; } }
.restoration-texts-container p {
  line-height: 2em;
  font-size: 1em;
  font-family: "Montserrat", sans-serif;
  color: #5A97D5; }

.viewing h1, .viewing p {
  text-align: center;
  color: #fff;
  margin: 40px 0; }
.viewing a {
  color: #fff;
  letter-spacing: 1px; }

.pedator-control-texts-container h1 {
  font-size: 30px; }
  @media (min-width: 970px) {
    .pedator-control-texts-container h1 {
      font-size: 50px; } }
.pedator-control-texts-container h4 {
  font-size: 24px;
  line-height: 0;
  font-family: "Montserrat", sans-serif;
  color: #145698; }
  @media (min-width: 970px) {
    .pedator-control-texts-container h4 {
      font-size: 24px; } }
.pedator-control-texts-container p {
  line-height: 2em;
  font-size: 1em;
  font-family: "Montserrat", sans-serif;
  color: #5A97D5; }

.marine h1 {
  text-align: center;
  margin: 0;
  padding: 20px;
  opacity: 0; }

body {
  background-color: #054686;
  min-width: 320px; }

main .wrapper, header .wrapper, footer .wrapper {
  margin: 0 auto; }

main {
  overflow: hidden; }
  main .wrapper {
    min-height: calc(100vh - 100px);
    color: #054686; }

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

.clearfix {
  display: inline-block; }

/* start commented backslash hack \*/
* html .clearfix {
  height: 1%; }

.clearfix {
  display: block; }

/* close commented backslash hack */
*:focus {
  outline: none; }

#loader {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: #fff;
  z-index: 3000;
  transition: all .2s; }
  #loader img {
    position: absolute;
    top: 50%;
    width: 400px;
    left: 50%;
    transform: translate(-50%, -50%); }

header {
  position: fixed;
  width: 100%;
  z-index: 500;
  margin-top: 30px; }
  header .wrapper {
    position: relative;
    width: 100%;
    height: 100%; }
    header .wrapper .logo {
      position: absolute;
      height: 40px;
      float: left;
      opacity: 1;
      left: 20px; }
    header .wrapper .menu {
      position: relative;
      background: 0;
      float: right;
      right: 20px;
      width: 40px;
      height: 40px;
      margin-top: 8px;
      padding: 0;
      border: 0;
      z-index: 2000; }
      header .wrapper .menu .bar {
        position: absolute;
        left: 0;
        width: 100%;
        height: 3px;
        background-color: #FDE000;
        transform: rotate(0deg);
        transition: opacity .3s ease, top .3s, transform .3s ease; }
      header .wrapper .menu .bar-1 {
        top: 0; }
      header .wrapper .menu .bar-2 {
        top: 30%; }
      header .wrapper .menu .bar-3 {
        top: 60%; }
      header .wrapper .menu.open .bar-2 {
        opacity: 0; }
      header .wrapper .menu.open .bar-1, header .wrapper .menu.open .bar-3 {
        top: 12px; }
      header .wrapper .menu.open .bar-1 {
        transform: rotate(-45deg); }
      header .wrapper .menu.open .bar-3 {
        transform: rotate(45deg); }
      header .wrapper .menu:hover .bar {
        background-color: #847BF0; }

nav {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  animation: color-animation 2s infinite linear alternate; }
@keyframes color-animation {
  0% {
    background: #A3B9EA; }
  50% {
    background: #77C6F7; }
  100% {
    background: #16C8C5; } }
  nav .nav-container {
    height: 100%;
    position: relative; }
    nav .nav-container .close-img {
      height: 25px;
      right: 30px;
      margin-top: 30px;
      cursor: pointer;
      position: absolute;
      z-index: 2000; }
    nav .nav-container ul {
      clear: both;
      width: 100%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      position: absolute; }
      nav .nav-container ul li {
        list-style: none;
        text-align: center;
        margin: 30px; }
        nav .nav-container ul li a {
          text-decoration: none;
          transition: all .1s;
          z-index: 400; }
          nav .nav-container ul li a:hover {
            color: #728AD5; }
          @media (min-width: 750px) {
            nav .nav-container ul li a {
              font-size: 3em; } }
        nav .nav-container ul li .selected-line {
          display: none;
          height: 10px;
          width: 250px;
          background-color: #E8D766;
          bottom: 10px;
          margin: 0 auto;
          z-index: 300; }
          @media (min-width: 750px) {
            nav .nav-container ul li .selected-line {
              width: 350px; } }
          nav .nav-container ul li .selected-line.selected {
            display: block; }
    nav .nav-container .nav-penguin {
      position: absolute;
      bottom: 0;
      left: 0;
      display: none; }
      nav .nav-container .nav-penguin img {
        width: 120px; }

footer {
  background-color: #00376D;
  height: auto; }
  footer .wrapper .footer-container {
    padding-bottom: 5rem;
    position: relative; }
    footer .wrapper .footer-container .footer-penguin {
      position: absolute;
      left: 50%;
      height: 60px;
      top: -60px;
      transform: translate(-50%); }
      @media (min-width: 750px) {
        footer .wrapper .footer-container .footer-penguin {
          height: 100px;
          top: -100px; } }
      @media (min-width: 970px) {
        footer .wrapper .footer-container .footer-penguin {
          height: 120px;
          top: -120px; } }
    footer .wrapper .footer-container .contact-icons {
      text-align: center;
      padding: 5rem 0 0 0;
      cursor: pointer; }
      @media (min-width: 750px) {
        footer .wrapper .footer-container .contact-icons {
          padding: 5rem 0 0 0; } }
      footer .wrapper .footer-container .contact-icons img {
        width: 45px;
        margin: 20px;
        display: inline-block; }
        @media (min-width: 750px) {
          footer .wrapper .footer-container .contact-icons img {
            width: 50px; } }
    footer .wrapper .footer-container .texts {
      margin-top: 2rem; }
      footer .wrapper .footer-container .texts a {
        text-decoration: none; }
        footer .wrapper .footer-container .texts a h3 {
          color: #4F7BAD;
          text-align: center;
          font-weight: lighter; }
      footer .wrapper .footer-container .texts p {
        color: #4F7BAD;
        text-align: center;
        font-weight: lighter;
        margin-top: 2rem; }

.home-page {
  background-color: #054686; }

.scroll-down {
  text-align: center;
  position: relative; }
  .scroll-down .triangle {
    top: 20%;
    margin-left: 5px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #FDE000;
    display: inline-block; }

.home {
  padding-top: 20vh;
  height: 100vh;
  z-index: 10;
  background: url(../img/home-bg.svg);
  background-size: cover;
  background-position: center;
  position: relative; }
  .home .home-container {
    height: 80vh;
    width: 100%;
    padding: 20px;
    position: relative;
    overflow: hidden; }
    @media (min-width: 970px) {
      .home .home-container {
        margin: 0 auto; } }
    .home .home-container .home-text {
      margin-top: 50px;
      width: 100%;
      position: absolute; }
      @media (min-width: 750px) {
        .home .home-container .home-text {
          width: 62.5%;
          left: 50%;
          transform: translate(-50%, 0); } }
      @media (min-width: 970px) {
        .home .home-container .home-text {
          margin-top: 0;
          width: 50%; } }
      .home .home-container .home-text .scroll-down {
        margin-top: 20vh; }
        @media (min-width: 970px) {
          .home .home-container .home-text .scroll-down {
            margin-top: 10vh; } }
    .home .home-container .penguin-home {
      width: 23.52941%;
      height: 100%;
      margin-top: 80px;
      position: absolute;
      right: 0; }
      @media (min-width: 970px) {
        .home .home-container .penguin-home {
          margin-top: 0; } }
      .home .home-container .penguin-home .penguin-home-container {
        position: relative;
        height: 100%; }
        .home .home-container .penguin-home .penguin-home-container img {
          width: 60px;
          position: absolute; }
          @media (min-width: 750px) {
            .home .home-container .penguin-home .penguin-home-container img {
              width: 90px; } }
          @media (min-width: 970px) {
            .home .home-container .penguin-home .penguin-home-container img {
              width: 100px; } }
        .home .home-container .penguin-home .penguin-home-container .penguin-1 {
          right: -100px; }
        .home .home-container .penguin-home .penguin-home-container .penguin-3 {
          right: -150px;
          top: 30%; }
          @media (min-width: 750px) {
            .home .home-container .penguin-home .penguin-home-container .penguin-3 {
              top: 40%; } }
  .home .waves-small {
    position: absolute;
    height: 120px;
    width: 100%;
    bottom: 0; }
    @media (min-width: 750px) {
      .home .waves-small {
        display: none; } }
    .home .waves-small img {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%; }
    .home .waves-small .wave-bg {
      bottom: -30px; }
  .home .waves-lg {
    display: none; }
    @media (min-width: 750px) {
      .home .waves-lg {
        display: block;
        position: absolute;
        height: 120px;
        width: 100%;
        bottom: 0; } }
    .home .waves-lg img {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%; }
    .home .waves-lg .wave-bg {
      bottom: -35px; }

.swim-penguin-1 {
  position: absolute;
  right: -100px; }
  .swim-penguin-1 img {
    width: 50px; }

.name {
  padding: 0 20px;
  margin-bottom: 8rem; }
  .name .name-container {
    padding: 8rem 0 0 0; }
    .name .name-container .maori-name {
      margin: 0 auto;
      text-align: center;
      overflow: hidden; }
      .name .name-container .maori-name .talk-icon {
        width: 5px;
        opacity: 0;
        display: inline-block;
        margin-right: 50px; }
      .name .name-container .maori-name .maori-name-container {
        display: inline-block;
        background: url(../img/name-bg.svg);
        background-position: center;
        background-repeat: no-repeat;
        opacity: 0; }

.adult-penguin {
  background-color: #357DC7;
  padding: 8rem 0; }
  .adult-penguin .adult-penguin-container {
    position: relative;
    width: 100%;
    margin: 0 auto; }
    .adult-penguin .adult-penguin-container .penguin-bg {
      position: relative;
      width: 200px;
      height: 200px;
      border-radius: 50%;
      background-color: #054686;
      margin: 0 auto;
      opacity: 0; }
      @media (min-width: 750px) {
        .adult-penguin .adult-penguin-container .penguin-bg {
          width: 500px;
          height: 500px; } }
      .adult-penguin .adult-penguin-container .penguin-bg img {
        width: 33px; }
        @media (min-width: 750px) {
          .adult-penguin .adult-penguin-container .penguin-bg img {
            width: 70px; } }
      .adult-penguin .adult-penguin-container .penguin-bg .centered-penguin {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 70%;
        height: 70%; }
      .adult-penguin .adult-penguin-container .penguin-bg .arrow-left-text .arrow-left {
        display: block;
        float: left;
        margin-left: 6px; }
        @media (min-width: 750px) {
          .adult-penguin .adult-penguin-container .penguin-bg .arrow-left-text .arrow-left {
            margin-left: 15px; } }
      .adult-penguin .adult-penguin-container .penguin-bg .yellow-eye {
        position: absolute;
        left: -65px;
        top: 30px; }
        @media (min-width: 750px) {
          .adult-penguin .adult-penguin-container .penguin-bg .yellow-eye {
            left: -100px;
            top: 60px; } }
      .adult-penguin .adult-penguin-container .penguin-bg .white-belly {
        position: absolute;
        left: -65px;
        top: 90px; }
        @media (min-width: 750px) {
          .adult-penguin .adult-penguin-container .penguin-bg .white-belly {
            left: -120px;
            top: 300px; } }
      .adult-penguin .adult-penguin-container .penguin-bg .feet {
        position: absolute;
        right: -70px;
        top: 130px; }
        @media (min-width: 750px) {
          .adult-penguin .adult-penguin-container .penguin-bg .feet {
            right: -80px;
            top: 400px; } }
        .adult-penguin .adult-penguin-container .penguin-bg .feet .arrow-right {
          position: absolute;
          display: block;
          left: -30%;
          bottom: 0; }
          @media (min-width: 750px) {
            .adult-penguin .adult-penguin-container .penguin-bg .feet .arrow-right {
              left: -80%; } }
        .adult-penguin .adult-penguin-container .penguin-bg .feet .arrow-right-text {
          display: block;
          float: right;
          margin-left: 5px; }

.map {
  margin: 8rem 0; }
  .map .map-container {
    max-width: 960px;
    opacity: 0; }
    @media (min-width: 750px) {
      .map .map-container {
        margin: 0 auto; } }
    .map .map-container .map-nz img {
      width: 80%;
      max-width: 400px;
      min-width: 320px;
      padding: 20px;
      display: block;
      margin: 0 auto; }

.visual-data {
  margin-bottom: 10rem;
  opacity: 0; }
  .visual-data .data-container {
    width: 90%;
    margin: 0 auto; }
    .visual-data .data-container .data {
      width: 100%; }
      .visual-data .data-container .data #bars {
        width: 300px;
        padding: 0;
        margin: 0 auto; }
        @media (min-width: 750px) {
          .visual-data .data-container .data #bars {
            width: 600px; } }
        .visual-data .data-container .data #bars li {
          display: table-cell;
          width: 100px;
          height: 200px;
          margin: 0;
          position: relative; }
          @media (min-width: 750px) {
            .visual-data .data-container .data #bars li {
              height: 300px; } }
          .visual-data .data-container .data #bars li .bar {
            display: block;
            width: 35px;
            height: 0%;
            margin-left: 15px;
            background-color: #3B9FFF;
            position: absolute;
            bottom: 0;
            transition: height .3s ease; }
            @media (min-width: 750px) {
              .visual-data .data-container .data #bars li .bar {
                width: 70px; } }
            .visual-data .data-container .data #bars li .bar:hover {
              background-color: #89C5FF; }
              .visual-data .data-container .data #bars li .bar:hover:before {
                color: #fff;
                content: attr(data-number);
                position: relative;
                bottom: 40px; }
                @media (min-width: 750px) {
                  .visual-data .data-container .data #bars li .bar:hover:before {
                    bottom: 20px; } }

.real-penguin-bg {
  display: none; }
  @media (min-width: 970px) {
    .real-penguin-bg {
      display: block;
      height: 400px;
      background-image: url(../img/real-p-1.jpg);
      background-size: cover;
      background-attachment: fixed; } }

.pedator {
  margin: 8rem 0;
  transition: all .3s ease; }
  .pedator .question {
    opacity: 0;
    margin-bottom: 8rem; }
    .pedator .question .question-image {
      margin: 0 auto;
      text-align: center; }
      @media (min-width: 750px) {
        .pedator .question .question-image {
          width: 420px; } }
      .pedator .question .question-image .question-mark {
        width: 120px;
        display: inline-block; }
        @media (min-width: 750px) {
          .pedator .question .question-image .question-mark {
            width: 200px; } }
      .pedator .question .question-image .question-penguin {
        width: 120px;
        display: inline-block; }
        @media (min-width: 750px) {
          .pedator .question .question-image .question-penguin {
            width: 200px; } }
  .pedator .pedator-animals {
    width: 80%;
    max-width: 500px;
    min-width: 320px;
    margin: 0 auto;
    transition: all .3s ease;
    opacity: 0; }
    .pedator .pedator-animals .pedators-container {
      position: relative;
      margin-bottom: 3rem; }
      .pedator .pedator-animals .pedators-container .circl-1 {
        width: 100%; }
      .pedator .pedator-animals .pedators-container .animate-circle {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0; }

.fishing-net {
  margin-bottom: 10rem;
  transition: all .3s ease;
  opacity: 0; }
  .fishing-net .plus {
    margin: 0 auto; }
    .fishing-net .plus .plus-icon {
      display: block;
      width: 70px;
      margin: 0 auto 3rem auto; }
  .fishing-net .fishing {
    width: 90%;
    display: block;
    margin: 0 auto; }
    @media (min-width: 750px) {
      .fishing-net .fishing {
        width: 500px;
        margin-bottom: 3rem; } }
  .fishing-net .pedator-waves {
    position: relative; }
    .fishing-net .pedator-waves .waves-small {
      position: absolute;
      height: 120px;
      width: 100%;
      bottom: 0; }
      @media (min-width: 750px) {
        .fishing-net .pedator-waves .waves-small {
          display: none; } }
      .fishing-net .pedator-waves .waves-small img {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%; }
      .fishing-net .pedator-waves .waves-small .wave-bg {
        bottom: -30px; }
    .fishing-net .pedator-waves .waves-lg {
      display: none; }
      @media (min-width: 750px) {
        .fishing-net .pedator-waves .waves-lg {
          display: block;
          position: absolute;
          height: 120px;
          width: 100%;
          bottom: 0; } }
      .fishing-net .pedator-waves .waves-lg img {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%; }
      .fishing-net .pedator-waves .waves-lg .wave-bg {
        bottom: -35px; }

.decline {
  margin-bottom: calc( 5rem + 200px);
  transition: all .3s ease; }
  .decline .decline-image {
    opacity: 0;
    transition: all .3s ease;
    margin-bottom: 8rem; }
    .decline .decline-image .decline-image-container {
      width: 90%;
      position: relative;
      margin: 0 auto 3rem auto;
      padding: 0 20px; }
      @media (min-width: 750px) {
        .decline .decline-image .decline-image-container {
          width: 500px; } }
      .decline .decline-image .decline-image-container .decline-1 {
        width: 100%; }
      .decline .decline-image .decline-image-container .decline-animate {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        transition: all .3s ease; }
  .decline .home-trust {
    opacity: 0;
    transition: all .3s ease;
    margin-bottom: 8rem; }
    .decline .home-trust .home-trust-logo {
      width: 200px;
      display: block;
      margin: 0 auto 3rem auto; }
    .decline .home-trust a {
      text-decoration: none; }
      .decline .home-trust a .to-work-btn {
        padding: 1px 45px;
        background-color: transparent;
        border: 2px solid #fff;
        border-radius: 500px;
        display: block;
        margin: 0 auto;
        transition: all .2s;
        opacity: 0; }
        .decline .home-trust a .to-work-btn:hover {
          background-color: #fff; }
          .decline .home-trust a .to-work-btn:hover p {
            color: #054686;
            transition: hover .2s; }

.trust-home {
  height: 100vh;
  width: 100%;
  background: linear-gradient(to right, #00B2DD, #24AF8A);
  position: relative;
  overflow: hidden; }
  .trust-home .trust-info {
    padding: 18vh 20px 0 20px; }
    @media (min-width: 750px) {
      .trust-home .trust-info {
        padding: 25vh 20px 0 20px; } }
    .trust-home .trust-info .trust-logo {
      width: 100%;
      padding: 20px;
      opacity: 0; }
      .trust-home .trust-info .trust-logo img {
        width: 120px;
        display: block;
        margin: 0 auto; }
        @media (min-width: 750px) {
          .trust-home .trust-info .trust-logo img {
            width: 150px; } }
      @media (min-width: 750px) {
        .trust-home .trust-info .trust-logo {
          width: 50%;
          float: left; } }
    .trust-home .trust-info .trust-texts {
      width: 100%;
      max-width: 500px;
      margin: 0 auto;
      opacity: 0; }
      @media (min-width: 750px) {
        .trust-home .trust-info .trust-texts {
          width: 50%;
          float: left; } }
    .trust-home .trust-info .scroll-down {
      margin-top: 15vh;
      opacity: 0; }
      @media (min-width: 750px) {
        .trust-home .trust-info .scroll-down {
          margin-top: 60vh; } }
  .trust-home .trust-home-penguins {
    display: none; }
    @media (min-width: 750px) {
      .trust-home .trust-home-penguins {
        display: block;
        position: absolute;
        width: 350px;
        right: 0;
        bottom: 0; } }
    .trust-home .trust-home-penguins .small-penguin {
      position: absolute;
      right: 25px;
      bottom: 10px;
      width: 50px;
      opacity: 0; }
      @media (min-width: 750px) {
        .trust-home .trust-home-penguins .small-penguin {
          right: 55px;
          width: 90px; } }
    .trust-home .trust-home-penguins .big-penguin {
      position: absolute;
      right: -30px;
      bottom: 0px;
      width: 100px;
      opacity: 0; }
      @media (min-width: 750px) {
        .trust-home .trust-home-penguins .big-penguin {
          width: 150px; } }

.trust-work-info {
  position: relative;
  opacity: 0; }
  .trust-work-info .work-info-bg .penguin-bg {
    float: left;
    background-position: center;
    background-size: cover; }
  .trust-work-info .work-info-bg .penguin-trust-1 {
    display: none; }
    @media (min-width: 750px) {
      .trust-work-info .work-info-bg .penguin-trust-1 {
        display: block;
        background: url(../img/trust-penguin-2.jpg);
        background-position: center;
        background-size: cover;
        height: 50vh;
        width: 50%; } }
  .trust-work-info .work-info-bg .penguin-trust-2 {
    display: none; }
    @media (min-width: 750px) {
      .trust-work-info .work-info-bg .penguin-trust-2 {
        display: block;
        background: url(../img/trust-penguin-3.jpg);
        background-position: center;
        background-size: cover;
        height: 50vh;
        width: 50%; } }
  .trust-work-info .work-info-bg .penguin-trust-3 {
    background: url(../img/trust-penguin-4.jpg);
    height: 50vh;
    width: 100%; }
    @media (min-width: 750px) {
      .trust-work-info .work-info-bg .penguin-trust-3 {
        width: 50%; } }
  .trust-work-info .work-info-bg .penguin-trust-4 {
    background: url(../img/trust-penguin-1.jpg);
    background-position: top;
    height: 50vh;
    width: 100%; }
    @media (min-width: 750px) {
      .trust-work-info .work-info-bg .penguin-trust-4 {
        width: 50%; } }
  .trust-work-info .work-info-texts {
    width: 300px;
    padding: 20px;
    background: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    @media (min-width: 750px) {
      .trust-work-info .work-info-texts {
        width: 500px;
        padding: 30px; } }

.restoration {
  background-color: #FAFAFA; }
  .restoration .restoration-container {
    padding: 8rem 20px;
    max-width: 1000px;
    margin: 0 auto;
    opacity: 0; }
    @media (min-width: 970px) {
      .restoration .restoration-container {
        padding: 8rem 0; } }
    .restoration .restoration-container .work-map-nz {
      position: relative; }
      .restoration .restoration-container .work-map-nz .work-map-container {
        max-width: 500px;
        margin: 3rem auto 0 auto;
        position: relative; }
        @media (min-width: 970px) {
          .restoration .restoration-container .work-map-nz .work-map-container {
            width: 45%;
            float: left; } }
        .restoration .restoration-container .work-map-nz .work-map-container .hids {
          width: 9%;
          position: absolute;
          cursor: pointer; }
        .restoration .restoration-container .work-map-nz .work-map-container #hide-1 {
          top: 49%;
          left: 47%; }
        .restoration .restoration-container .work-map-nz .work-map-container #hide-2 {
          top: 62%;
          left: 43%; }
        .restoration .restoration-container .work-map-nz .work-map-container #hide-3 {
          top: 73%;
          left: 31%; }
        .restoration .restoration-container .work-map-nz .work-map-container #hide-4 {
          top: 81%;
          left: 14%; }
        .restoration .restoration-container .work-map-nz .work-map-container .hids-container #oamaru {
          top: 15%;
          left: 0;
          transition: all .2s ease; }
        .restoration .restoration-container .work-map-nz .work-map-container .hids-container #dunedin {
          top: 20%;
          left: 0;
          transition: all .2s ease; }
        .restoration .restoration-container .work-map-nz .work-map-container .hids-container #catlins {
          top: 30%;
          left: 0;
          transition: all .2s ease; }
        .restoration .restoration-container .work-map-nz .work-map-container .hids-container #invercargill {
          top: 40%;
          left: 0;
          transition: all .2s ease; }
        .restoration .restoration-container .work-map-nz .work-map-container .hids-container .hids-info {
          position: absolute;
          padding: 0 20px 0 20px;
          width: 300px;
          background-color: #fff;
          border: 2px solid #B9DAFA;
          display: none; }
    .restoration .restoration-container .restoration-texts {
      background-color: #F4F4F4;
      padding: 40px;
      margin: 0 auto; }
      @media (min-width: 970px) {
        .restoration .restoration-container .restoration-texts {
          padding: 50px;
          margin-left: 30px;
          width: 50%;
          max-width: 550px;
          float: left; } }

.viewing {
  background: url(../img/real-penguin-2-small.jpg);
  background-size: cover;
  background-position: center;
  height: 60vh;
  position: relative; }
  @media (min-width: 750px) {
    .viewing {
      background: url(../img/real-penguin-2-medium.jpg);
      background-size: cover;
      background-position: center; } }
  @media (min-width: 970px) {
    .viewing {
      background: url(../img/real-penguin-2.jpg);
      background-size: cover;
      background-position: center; } }
  .viewing .view-texts {
    position: absolute;
    width: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }
    .viewing .view-texts .view-text-container {
      opacity: 0; }
      .viewing .view-texts .view-text-container h1, .viewing .view-texts .view-text-container p {
        text-align: center;
        color: #fff;
        margin: 40px 0; }
      .viewing .view-texts .view-text-container a {
        text-align: center;
        opacity: 0;
        border-radius: 500px;
        padding: 15px 40px;
        text-decoration: none;
        background-color: #FF8F3E; }
        .viewing .view-texts .view-text-container a:hover {
          color: #fff;
          background-color: #FCAF77;
          transition: all .3s ease; }

.pedator-control {
  background-color: #FAFAFA; }
  .pedator-control .pedator-control-container {
    padding: 8rem 20px;
    max-width: 1000px;
    margin: 0 auto;
    opacity: 0; }
    .pedator-control .pedator-control-container .pedator-control-image {
      position: relative;
      max-width: 500px;
      margin: 0 auto; }
      @media (min-width: 970px) {
        .pedator-control .pedator-control-container .pedator-control-image {
          width: 45%;
          float: left;
          margin-top: 3rem; } }
      .pedator-control .pedator-control-container .pedator-control-image .circles {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0; }
    .pedator-control .pedator-control-container .pedator-control-texts {
      background-color: #F4F4F4;
      padding: 40px;
      margin: 0 auto; }
      @media (min-width: 970px) {
        .pedator-control .pedator-control-container .pedator-control-texts {
          padding: 50px;
          float: left;
          width: 50%;
          max-width: 550px;
          margin-left: 30px; } }

.marine {
  padding-top: 3rem;
  margin-bottom: calc( 5rem + 200px);
  background-color: #fff; }
  .marine .marine-container img {
    width: 100%;
    display: block;
    opacity: 0; }

#booking-body {
  background: linear-gradient(to right, #00B2DD, #19CB9B); }

main {
  position: relative; }
  main #booking-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(8, 29, 75, 0.7);
    display: none;
    z-index: 1800;
    transition: all .2s ease; }

.booking-a-view {
  opacity: 0;
  position: relative; }
  .booking-a-view .form {
    margin-top: 10rem;
    margin-bottom: calc( 5rem + 200px);
    padding: 20px; }
    @media (min-width: 970px) {
      .booking-a-view .form {
        margin-top: 8rem; } }
    .booking-a-view .form .form-container {
      background-color: #fff;
      margin: 0 auto;
      max-width: 800px;
      position: relative; }
      .booking-a-view .form .form-container .booking-header .texts {
        text-align: center;
        padding: 3rem 20px 0 10px; }
        @media (min-width: 970px) {
          .booking-a-view .form .form-container .booking-header .texts {
            padding: 5rem 0 0 0; } }
        .booking-a-view .form .form-container .booking-header .texts h1 {
          font-size: 1.6rem;
          text-align: center;
          color: #FF8F3E; }
          @media (min-width: 750px) {
            .booking-a-view .form .form-container .booking-header .texts h1 {
              font-size: 3rem; } }
        .booking-a-view .form .form-container .booking-header .texts p {
          font-size: 1.2rem;
          text-align: center;
          color: #969696;
          font-weight: lighter; }
          @media (min-width: 750px) {
            .booking-a-view .form .form-container .booking-header .texts p {
              font-size: 1.6rem; } }
      .booking-a-view .form .form-container .booking-fieldset {
        margin: 10px;
        text-align: center;
        border: 0; }
        @media (min-width: 750px) {
          .booking-a-view .form .form-container .booking-fieldset {
            margin: 0 auto;
            max-width: 600px; } }
        .booking-a-view .form .form-container .booking-fieldset .form-row {
          display: inline-block;
          width: 100%;
          margin: 15px auto; }
          .booking-a-view .form .form-container .booking-fieldset .form-row li {
            display: inline-block;
            background-color: #fff;
            border: 1px solid #95989A;
            position: relative;
            padding-left: 0;
            float: left; }
          .booking-a-view .form .form-container .booking-fieldset .form-row .place-list {
            list-style: none;
            width: 100%;
            text-align: center;
            padding: 0;
            margin: 0; }
            .booking-a-view .form .form-container .booking-fieldset .form-row .place-list li {
              width: calc( 50% - 6px);
              margin: 3px; }
              @media (min-width: 750px) {
                .booking-a-view .form .form-container .booking-fieldset .form-row .place-list li {
                  width: calc( 25% - 6px);
                  margin: 0 3px; } }
              .booking-a-view .form .form-container .booking-fieldset .form-row .place-list li .places_inpute {
                display: none;
                width: 100%;
                font-family: "Montserrat", sans-serif; }
                .booking-a-view .form .form-container .booking-fieldset .form-row .place-list li .places_inpute:checked + .places_lable {
                  display: block;
                  color: #fff;
                  width: 100%;
                  border: 0px;
                  background-color: #64B0FC; }
              .booking-a-view .form .form-container .booking-fieldset .form-row .place-list li .places_lable {
                cursor: pointer;
                width: 100%;
                display: block;
                color: #969696;
                transition: all .2s ease;
                font-family: "Montserrat", sans-serif;
                line-height: 2.2rem; }
                @media (min-width: 750px) {
                  .booking-a-view .form .form-container .booking-fieldset .form-row .place-list li .places_lable {
                    line-height: 3rem; } }
          .booking-a-view .form .form-container .booking-fieldset .form-row .date-guest-list {
            list-style: none;
            padding: 0;
            text-align: center;
            margin: 0; }
            .booking-a-view .form .form-container .booking-fieldset .form-row .date-guest-list li {
              width: calc(50% - 6px);
              margin: 0 3px;
              border: 1px solid #95989A;
              position: relative; }
              .booking-a-view .form .form-container .booking-fieldset .form-row .date-guest-list li input {
                width: 100%;
                border: 0;
                padding-left: 10px;
                font-family: "Montserrat", sans-serif;
                height: 2.2rem;
                color: #969696;
                font-size: 0.7rem; }
                @media (min-width: 750px) {
                  .booking-a-view .form .form-container .booking-fieldset .form-row .date-guest-list li input {
                    height: 3rem;
                    font-size: 1rem; } }
              .booking-a-view .form .form-container .booking-fieldset .form-row .date-guest-list li #datepicker {
                background-color: #fff; }
              .booking-a-view .form .form-container .booking-fieldset .form-row .date-guest-list li .date-guest_label {
                width: 100%;
                display: block; }
              .booking-a-view .form .form-container .booking-fieldset .form-row .date-guest-list li img {
                position: absolute;
                right: 10px;
                top: 50%;
                transform: translate(0, -50%);
                width: 20px;
                cursor: pointer; }
                @media (min-width: 750px) {
                  .booking-a-view .form .form-container .booking-fieldset .form-row .date-guest-list li img {
                    width: 30px; } }
            .booking-a-view .form .form-container .booking-fieldset .form-row .date-guest-list #guests {
              width: 100%;
              font-family: inherit;
              font-family: "Montserrat", sans-serif;
              border: none;
              height: 2.2rem;
              color: #969696;
              padding-left: 10px; }
              @media (min-width: 750px) {
                .booking-a-view .form .form-container .booking-fieldset .form-row .date-guest-list #guests {
                  height: 3rem; } }
              .booking-a-view .form .form-container .booking-fieldset .form-row .date-guest-list #guests option {
                height: 2em;
                outline: 0;
                height: 100%; }
          .booking-a-view .form .form-container .booking-fieldset .form-row .name-mail-input {
            display: block;
            width: calc(100% - 6px);
            margin: 0 auto;
            border: 1px solid #95989A;
            height: 2.2rem;
            font-family: "Montserrat", sans-serif;
            color: #969696;
            padding-left: 10px; }
            @media (min-width: 750px) {
              .booking-a-view .form .form-container .booking-fieldset .form-row .name-mail-input {
                height: 3rem; } }
      .booking-a-view .form .form-container .booking-btn {
        text-align: center;
        margin-bottom: 5rem;
        padding-bottom: 8rem;
        cursor: pointer; }
        .booking-a-view .form .form-container .booking-btn .btn-container {
          color: #FF8F3E;
          border: 1.5px solid #FF8F3E;
          letter-spacing: 1px;
          border-radius: 500px;
          padding: 15px 40px;
          text-decoration: none;
          background-color: #fff;
          transition: all .3s ease;
          display: inline-block;
          font-size: 1.2rem; }
          .booking-a-view .form .form-container .booking-btn .btn-container:hover {
            color: #fff;
            background-color: #FF8F3E; }
  .booking-a-view .booking-penguin {
    position: absolute;
    width: 200px;
    left: -70px;
    top: 30%;
    display: none; }
    @media (min-width: 970px) {
      .booking-a-view .booking-penguin {
        margin: 0 auto;
        max-width: 600px;
        display: block; } }
  .booking-a-view .booking-confirmation {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 700px;
    background-color: #fff;
    z-index: 1900;
    display: none;
    transition: all .2s ease;
    z-index: 1900; }
    .booking-a-view .booking-confirmation .close {
      float: right;
      margin-right: 20px;
      margin-top: 20px;
      width: 30px;
      cursor: pointer; }
    .booking-a-view .booking-confirmation .booking-info {
      padding: 20px;
      border: 2px solid #ADD4FA;
      width: 70%;
      margin: 5rem auto; }
      .booking-a-view .booking-confirmation .booking-info h2, .booking-a-view .booking-confirmation .booking-info h4, .booking-a-view .booking-confirmation .booking-info p {
        color: #969696; }
      .booking-a-view .booking-confirmation .booking-info .info-header {
        margin-bottom: 5rem; }
        .booking-a-view .booking-confirmation .booking-info .info-header h1 {
          color: #FF8F3E;
          text-align: left; }
        .booking-a-view .booking-confirmation .booking-info .info-header p {
          margin: 0 0 0 12px; }
    .booking-a-view .booking-confirmation .booking-confirm {
      text-align: center;
      margin-bottom: 5rem; }
      .booking-a-view .booking-confirmation .booking-confirm:hover a {
        background-color: #FCAF77; }
      .booking-a-view .booking-confirmation .booking-confirm a {
        text-align: center;
        color: #fff;
        letter-spacing: 1px;
        border-radius: 500px;
        padding: 10px 40px;
        text-decoration: none;
        background-color: #FF8F3E; }

#support-body {
  background: linear-gradient(to right, #CCC695, #A0B0E3);
  position: relative; }

.support {
  position: relative;
  opacity: 0; }
  .support .support-header {
    background: url(../img/donate-header-small.jpg);
    background-size: cover;
    background-position: center;
    height: 350px;
    position: relative; }
    @media (min-width: 750px) {
      .support .support-header {
        background: url(../img/donate-header-medium.jpg);
        background-size: cover; } }
    @media (min-width: 750px) {
      .support .support-header {
        background: url(../img/donate-header.jpg);
        background-size: cover; } }
    .support .support-header .texts {
      left: 50%;
      transform: translate(-50%);
      bottom: 2rem;
      position: absolute; }
      .support .support-header .texts h1, .support .support-header .texts h3 {
        color: #fff;
        text-align: center; }
      .support .support-header .texts h1 {
        font-size: 3rem;
        margin-bottom: 0; }
  .support .donate {
    margin-bottom: 5rem;
    padding: 20px; }
    .support .donate .donate-form-container {
      margin: 0 auto;
      background-color: #fff;
      max-width: 960px;
      margin: 1rem auto calc( 5rem + 200px) auto;
      padding: 20px;
      text-align: center; }
      @media (min-width: 750px) {
        .support .donate .donate-form-container {
          margin: 3rem auto calc( 5rem + 200px) auto; } }
      .support .donate .donate-form-container .form-container {
        height: auto;
        position: relative; }
        .support .donate .donate-form-container .form-container .donate-form .button-container {
          margin-bottom: 2rem; }
          .support .donate .donate-form-container .form-container .donate-form .button-container .donate-button {
            margin: 20px 5px;
            display: inline-block; }
            @media (min-width: 750px) {
              .support .donate .donate-form-container .form-container .donate-form .button-container .donate-button {
                margin: 40px 20px 20px 20px; } }
            .support .donate .donate-form-container .form-container .donate-form .button-container .donate-button:hover .penguin-up {
              transform: translate(0, 0); }
            .support .donate .donate-form-container .form-container .donate-form .button-container .donate-button .donate-button-container {
              background-color: #FF8F3E;
              color: #fff;
              font-size: 2em;
              line-height: 1.6em;
              border-radius: 10px;
              padding: 0;
              cursor: pointer;
              z-index: 100;
              position: relative; }
              @media (min-width: 750px) {
                .support .donate .donate-form-container .form-container .donate-form .button-container .donate-button .donate-button-container {
                  padding: 3px 14px; } }
              .support .donate .donate-form-container .form-container .donate-form .button-container .donate-button .donate-button-container #input-money {
                color: #054686; }
              .support .donate .donate-form-container .form-container .donate-form .button-container .donate-button .donate-button-container label {
                width: 100px;
                padding: 10px 20px;
                cursor: pointer; }
                .support .donate .donate-form-container .form-container .donate-form .button-container .donate-button .donate-button-container label input {
                  display: none; }
                .support .donate .donate-form-container .form-container .donate-form .button-container .donate-button .donate-button-container label sup {
                  font-size: 100%;
                  top: 0; }
            .support .donate .donate-form-container .form-container .donate-form .button-container .donate-button .penguin-up {
              width: 60px;
              display: block;
              z-index: 2;
              margin: 0 auto;
              transform: translate(0, 100%);
              transition: all .3s ease; }
            .support .donate .donate-form-container .form-container .donate-form .button-container .donate-button #button-input {
              padding: 0; }
              @media (min-width: 750px) {
                .support .donate .donate-form-container .form-container .donate-form .button-container .donate-button #button-input {
                  padding: 3px 14px; } }
              .support .donate .donate-form-container .form-container .donate-form .button-container .donate-button #button-input input {
                font-size: 25px;
                margin: 0 5px; }
              .support .donate .donate-form-container .form-container .donate-form .button-container .donate-button #button-input sup {
                font-size: 100%;
                top: 0; }
        .support .donate .donate-form-container .form-container .donate-form .donate-now-btn {
          text-align: center;
          margin-bottom: 5rem;
          cursor: pointer; }
          .support .donate .donate-form-container .form-container .donate-form .donate-now-btn button {
            color: #FF8F3E;
            border: 1.5px solid #FF8F3E;
            letter-spacing: 1px;
            border-radius: 500px;
            padding: 15px 45px;
            text-decoration: none;
            background-color: #fff;
            transition: all .3s ease;
            display: inline-block;
            font-size: 1.2rem; }
            .support .donate .donate-form-container .form-container .donate-form .donate-now-btn button:hover {
              color: #fff;
              background-color: #FF8F3E; }
  .support .donate-penguin {
    position: absolute;
    left: -70px;
    top: 500px;
    display: none; }
    @media (min-width: 970px) {
      .support .donate-penguin {
        display: block; } }
    .support .donate-penguin img {
      width: 150px; }

#support-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(8, 29, 75, 0.7);
  display: none;
  z-index: 1800;
  transition: all .2s ease; }

.confirmation {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  background-color: #fff;
  z-index: 1900;
  display: none;
  transition: all .2s ease; }
  .confirmation .close {
    float: right;
    margin-right: 20px;
    margin-top: 20px;
    width: 30px;
    cursor: pointer; }
  .confirmation h1 {
    color: #FF8F3E;
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 3rem; }
  .confirmation h4 {
    color: #95989A;
    margin: 0 0 0 12px; }
  .confirmation fieldset {
    width: 100%;
    text-align: center;
    border: none;
    margin: 0 0 5rem 0; }
    .confirmation fieldset .form-row {
      width: 100%;
      margin: 0 auto 15px auto; }
      .confirmation fieldset .form-row input {
        width: 100%;
        border: 0.5px solid #95989A;
        padding: 15px 10px; }
      .confirmation fieldset .form-row label {
        width: 100%;
        display: block; }
  .confirmation .donate-confirm {
    text-align: center;
    margin-bottom: 5rem; }
    .confirmation .donate-confirm a {
      text-align: center;
      color: #fff;
      letter-spacing: 1px;
      border-radius: 500px;
      padding: 10px 40px;
      text-decoration: none;
      background-color: #FF8F3E; }
      .confirmation .donate-confirm a:hover {
        background-color: #FCAF77; }

/*# sourceMappingURL=main.css.map */
